html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	 background-color: #E5E5E5;

	font-family: "Noto Sans Display", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: white;
	--light-grey: #EBEBEB;
	--dark-grey: #787D85;
	--primary: #7653FC;
	--primary-hover: #51389F;
	--red: #FC836D;
	--green: #1DC37E;
	--light-green: #C8F8E4;
	--placeholder: #A4A4A4;
	--font-family: "Noto Sans KR", sans-serif;
}
